@{ ViewBag.Title = "About Page"; }
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div style="padding-top:11px;">
    <p>Use this area to provide additional information.</p>
</div>
@section About{
    <h1>I am from About Section</h1>
}